{% extends "templ.html" %}
{% block title %} MISHIMA SYK #4 !! {% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/arbor.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/cola.adaptor.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/cola.v3.min.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/dagre.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/springy.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/build/cytoscape.min.js')}}"></script>

<script>
// load JSON 
items = []
$.getJSON(("static/jsondata/mols.json"), function(data){
  items = data;
  return items;
});
</script>

<script>
// make network


$(function(){
 $("#cy").cytoscape({
  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        //'content': 'data(molid)',
        //'text-valign': 'center',
        'background-color': 'gray',
        //'text-outline-width': 2,
        //'text-outline-color': '#888',
        'width': '15px',
        'height': '15px'
      })
    .selector('edge')
      .css({
        'line-color': 'blue',
        'target-arrow-shape': 'triangle',
      })
    .selector(':selected')
      .css({
        'background-color': 'black',
        'line-color': 'black',
        'target-arrow-color': 'black',
        'source-arrow-color': 'black',
        'text-outline-color': 'black'
      }),
  layout:{
          name: 'cola',

          animate: true, // whether to show the layout as it's running
          refresh: 1, // number of ticks per frame; higher is faster but more jerky
          maxSimulationTime: 4000, // max length in ms to run the layout
          ungrabifyWhileSimulating: false, // so you can't drag nodes during layout
          fit: true, // on every layout reposition of nodes, fit the viewport
          padding: 30, // padding around the simulation
          boundingBox: undefined, // constrain layout bounds; { x1, y1, x2, y2 } or { x1, y1, w, h }

          // layout event callbacks
          ready: function(){}, // on layoutready
          stop: function(){}, // on layoutstop

          // positioning options
          randomize: false, // use random node positions at beginning of layout
          avoidOverlap: true, // if true, prevents overlap of node bounding boxes
          handleDisconnected: true, // if true, avoids disconnected components from overlapping
          nodeSpacing: function( node ){ return 10; }, // extra spacing around nodes
          flow: undefined, // use DAG/tree flow layout if specified, e.g. { axis: 'y', minSeparation: 30 }
          alignment: undefined, // relative alignment constraints on nodes, e.g. function( node ){ return { x: 0, y: 1 } }

          // different methods of specifying edge length
                  // each can be a constant numerical value or a function like `function( edge ){ return 2; }`
          edgeLength: undefined, // sets edge length directly in simulation
          edgeSymDiffLength: undefined, // symmetric diff edge length in simulation
          edgeJaccardLength: undefined, // jaccard edge length in simulation

           // iterations of cola algorithm; uses default values on undefined
           unconstrIter: undefined, // unconstrained initial layout iterations
           userConstIter: undefined, // initial layout iterations with user-specified constraints
           allConstIter: undefined, // initial layout iterations with all constraints including non-overlap
         
           // infinite layout options
           infinite: false // overrides all other options for a forces-all-the-time mode
        },
   ready: function(){
    // this refer cy
    console.log("ready2");
    window.cy = this;
        cy.load(items);
    // insert some events!
        cy.on('tap', 'node', function(){
      alert("smiles is "+this.data('smi'));
      $('#mol_wt').text("mol_wt is; "+this.data('molwt'));
      });
    },
    }); //cytoscape
}); //function
</script>

{% endblock %}


{% block content %}

<div class="container">
 <div class="row">
    <h1>Cytoscape JS!</h1></br>
    <h2><div id="mol_wt"> mol_wt </div></h2></br>
  <div class="col-md-12"  style='background-color: lightblue; height: 600px'> 
         <div id="cy"></div>

    
  </div>
</div>
</div>
 
{% endblock %}

