{% extends "templ.html" %}
{% block title %} MISHIMA SYK #4 !! {% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/arbor.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/cola.adaptor.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/cola.v3.min.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/dagre.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/springy.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/build/cytoscape.min.js')}}"></script>

<script>
// load JSON 
items = []
$.getJSON(("static/jsondata/mols.json"), function(data){
  items = data;
  return items;
});
</script>

<script>
// make network


$(function(){
 $("#cy").cytoscape({
  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        //'content': 'data(molid)',
        //'text-valign': 'center',
        'background-color': 'gray',
        //'text-outline-width': 2,
        //'text-outline-color': '#888',
        'width': '15px',
        'height': '15px'
      })
    .selector('edge')
      .css({
        'line-color': 'blue',
        'target-arrow-shape': 'triangle',
      })
    .selector(':selected')
      .css({
        'background-color': 'black',
        'line-color': 'black',
        'target-arrow-color': 'black',
        'source-arrow-color': 'black',
        'text-outline-color': 'black'
      }),
  layout:{
           name: 'cose',
         
           // Called on `layoutready`
           ready               : function() {},

           // Called on `layoutstop`
           stop                : function() {},

           // Whether to animate while running the layout
           animate             : true,

           // Number of iterations between consecutive screen positions update (0 -> only updated on the end)
           refresh             : 4,
  
           // Whether to fit the network view after when done
           fit                 : true, 

           // Padding on fit
           padding             : 30, 

           // Constrain layout bounds; { x1, y1, x2, y2 } or { x1, y1, w, h }
           boundingBox         : undefined,

           // Whether to randomize node positions on the beginning
           randomize           : true,
  
           // Whether to use the JS console to print debug messages
           debug               : false,

           // Node repulsion (non overlapping) multiplier
           nodeRepulsion       : 400000,
  
           // Node repulsion (overlapping) multiplier
           nodeOverlap         : 10,
  
           // Ideal edge (non nested) length
           idealEdgeLength     : 10,
  
            // Divisor to compute edge forces            edgeElasticity      : 100,
             
           // Nesting factor (multiplier) to compute ideal edge length for nested edges
           nestingFactor       : 5, 
  
           // Gravity force (constant)
           gravity             : 250, 
  
             // Maximum number of iterations to perform
             numIter             : 100,
  
            // Initial temperature (maximum node displacement)
            initialTemp         : 200,
             
            // Cooling factor (how the temperature is reduced between consecutive iterations
             coolingFactor       : 0.95, 
  
             // Lower temperature threshold (below this point the layout will end)
             minTemp             : 1.0
        },
   ready: function(){
    // this refer cy
    console.log("ready2");
    window.cy = this;
        this.load(items);
    // insert some events!
        cy.on('tap', 'node', function(){
      alert("smiles is "+this.data('smi'));
      $('#mol_wt').text("mol_wt is; "+this.data('molwt'));
      });
    },
    }); //cytoscape
}); //function
</script>

{% endblock %}


{% block content %}

<div class="container">
 <div class="row">
    <h1>Cytoscape JS!</h1></br>
    <h2><div id="mol_wt"> mol_wt </div></h2></br>
  <div class="col-md-12"  style='background-color: lightblue; height: 600px'> 
         <div id="cy"></div>

    
  </div>
</div>
</div>
 
{% endblock %}

