{% extends "templ.html" %}
{% block title %} MISHIMA SYK #4 !! {% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/arbor.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/cola.adaptor.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/cola.v3.min.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/dagre.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/lib/springy.js')}}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/cytoscape.js-2.3.3/build/cytoscape.min.js')}}"></script>

<script>
// load JSON 
items = []
$.getJSON(("static/jsondata/mols.json"), function(data){
  items = data;
  return items;
});
</script>

<script>
// make network


$(function(){
 $("#cy").cytoscape({
  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        //'content': 'data(molid)',
        //'text-valign': 'center',
        'background-color': 'gray',
        //'text-outline-width': 2,
        //'text-outline-color': '#888',
        'width': '15px',
        'height': '15px'
      })
    .selector('edge')
      .css({
        'line-color': 'blue',
        'target-arrow-shape': 'triangle',
      })
    .selector(':selected')
      .css({
        'background-color': 'black',
        'line-color': 'black',
        'target-arrow-color': 'black',
        'source-arrow-color': 'black',
        'text-outline-color': 'black'
      }),
  layout:{
          name: 'grid',

          fit: true, // whether to fit the viewport to the graph
          padding: 30, // padding used on fit
          boundingBox: undefined, // constrain layout bounds; { x1, y1, x2, y2 } or { x1, y1, w, h }
          avoidOverlap: true, // prevents node overlap, may overflow boundingBox if not enough space
          rows: undefined, // force num of rows in the grid
          columns: undefined, // force num of cols in the grid
          position: function( node ){}, // returns { row, col } for element
          animate: false, // whether to transition the node positions
          animationDuration: 500, // duration of animation in ms if enabled
          ready: undefined, // callback on layoutready
          stop: undefined // callback on layoutstop
        },
   ready: function(){
    // this refer cy
    console.log("ready2");
    window.cy = this;
        cy.load(items);
    // insert some events!
        cy.on('tap', 'node', function(){
      alert("smiles is "+this.data('smi'));
      $('#mol_wt').text("mol_wt is; "+this.data('molwt'));
      });
    },
    }); //cytoscape
}); //function
</script>

{% endblock %}


{% block content %}

<div class="container">
 <div class="row">
    <h1>Cytoscape JS!</h1></br>
    <h2><div id="mol_wt"> mol_wt </div></h2></br>
  <div class="col-md-12"  style='background-color: lightblue; height: 600px'> 
         <div id="cy"></div>

    
  </div>
</div>
</div>
 
{% endblock %}

